$color-primary: #f38e82;
$color-grad-1: #543894;
$color-grad-2: #f48982;
$color-triadic-1: #6b8826;
$color-triadic-2: #d1a02e;
$color-green: #259725;

$color-grey-light-1: #f5f5f5; // Light background
$color-grey-light-2: #f3e7e2; // Light lines
$color-grey-light-3: #d3beb7c0; // Light text (placeholder)
$color-grey-dark-1: #615551; // Normal text
$color-grey-dark-2: #918581; // Lighter text
$color-grey-purple: #c8bbd4; // Lighter text
$color-yellow: #fbfb08; // Lighter text
$color-white: #fff;

$gradient: linear-gradient(to right bottom, $color-grad-1, $color-grad-2);

$bp-small-desktop: 83em; // 1330px
$bp-extra-large: 75em; // 1200px
$bp-large: 61.25em; // 980px
$bp-medium: 48em; // 768px
$bp-medium-small: 41.9em; // 670px
$bp-small: 37.5em; // 600px
$bp-very-small: 33.75em; // 540px
$bp-very-very-small: 500px; // 500px
$bp-smallest: 23.75em; // 380px
$bp-mobile: 20em; // 320px

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
p,
a {
  font-size: 1.4rem;

  @media only screen and (max-width: $bp-very-very-small) {
    & {
      font-size: 1.2rem;
    }
  }
}
.hide {
  display: none;
}
.display-element {
  display: block !important;
}
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1 {
  font-size: 4.4em;
  text-align: center;
  padding-bottom: 5rem;
  @media only screen and (max-width: $bp-medium) {
    & {
      font-size: 3em;
    }
  }
}
h2 {
  font-size: 3em;
  @media only screen and (max-width: $bp-medium) {
    & {
      font-size: 2em;
    }
  }
}
h3 {
  font-size: 1.8em;
  @media only screen and (max-width: $bp-medium) {
    & {
      font-size: 1.6em;
    }
  }
}
img {
  min-height: auto;
  max-width: 100%;
  display: block;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;

  @media only screen and (max-width: $bp-medium) {
    font-size: 70%;
  }
}

body {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: $color-grey-dark-1;
}

.container {
  background-color: #fff;
  overflow: hidden;
  box-shadow: 0 2rem 6rem 0.5rem rgba($color-grey-dark-1, 0.2);

  display: grid;
  grid-template-rows: auto auto auto auto auto;

  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    'header header'
    'movieDetails movieDetails'
    'searchResult searchResult'
    'watchList watchList'
    ' topRated  topRated';
  @media only screen and (max-width: $bp-extra-large) {
    max-width: 100%;
    margin: 0;
    border-radius: 0;
  }
}
