.search-results {
  background: $color-grey-light-1;
  grid-area: searchResult;
  background: $color-blue;
  color: $color-white;
  padding: 5rem 2rem;
  @media only screen and (max-width: $bp-medium) {
    & {
      padding: 3rem 1rem;
    }
  }
  .single-movie {
    min-height: 65rem;
    @media only screen and (max-width: $bp-small-desktop) {
      & {
        min-height: 54rem;
      }
    }
    @media only screen and (max-width: $bp-large) {
      & {
        min-height: 62rem;
      }
    }
    @media only screen and (max-width: $bp-medium-small) {
      & {
        min-height: 57rem;
      }
    }
    @media only screen and (max-width: $bp-small) {
      & {
        min-height: 54rem;
      }
    }
    @media only screen and (max-width: $bp-very-very-small) {
      & {
        min-height: 74rem;
      }
    }
    @media only screen and (max-width: $bp-smallest) {
      & {
        min-height: 59rem;
      }
    }
  }

  .message-error {
    height: 0;
    padding: 0;
  }

  .results {
    display: grid;
    grid-template-columns: repeat(5, minmax(14.25rem, 1fr));
    grid-gap: 1rem;
    .spinner {
      top: 30%;
      i.fas {
        color: $color-white;
      }
    }
    @media only screen and (max-width: $bp-extra-large) {
      & {
        grid-template-columns: repeat(4, minmax(18.25rem, 1fr));
      }
    }
    @media only screen and (max-width: $bp-large) {
      & {
        grid-template-columns: repeat(3, 1fr);
      }
    }
    @media only screen and (max-width: $bp-medium) {
      & {
        grid-template-columns: repeat(2, 1fr);
      }
    }

    @media only screen and (max-width: $bp-very-very-small) {
      & {
        grid-template-columns: 1fr;
      }
    }
  }
  .pagination {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    .btn--inline:first-child {
      margin-right: 1rem;
    }
  }
}
.single-movie {
  border: 1px solid $color-grey-light-2;
  display: grid;
  grid-template-rows: auto 1fr;
  padding: 1rem;
  background: $color-white;
  transition: all 0.2s;
  color: $color-grey-dark-1;
  &:hover {
    transform: scale(1.1);
  }
  .image-container {
    margin-bottom: 1rem;
    img {
      object-fit: contain;
      width: 100%;
    }
  }
  .movie-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    & > *:not(:last-child) {
      margin-bottom: 1rem;
    }
    .btn-container {
      a {
        padding: 1rem 2rem;
        font-size: 1rem;
      }
    }
  }
}
